asgiref==3.8.1 ; python_version >= "3.11"
astroid==3.3.9 ; python_version >= "3.11"
colorama==0.4.6 ; python_version >= "3.11" and sys_platform == "win32"
dill==0.3.9 ; python_version >= "3.11"
django==5.1.7 ; python_version >= "3.11"
djangorestframework-simplejwt==5.5.0 ; python_version >= "3.11"
djangorestframework==3.15.2 ; python_version >= "3.11"
drf-yasg==1.21.10 ; python_version >= "3.11"
inflection==0.5.1 ; python_version >= "3.11"
isort==6.0.1 ; python_version >= "3.11"
mccabe==0.7.0 ; python_version >= "3.11"
packaging==24.2 ; python_version >= "3.11"
platformdirs==4.3.7 ; python_version >= "3.11"
psycopg==3.2.6 ; python_version >= "3.11"
pyjwt==2.9.0 ; python_version >= "3.11"
pylint==3.3.6 ; python_version >= "3.11"
pytz==2025.2 ; python_version >= "3.11"
pyyaml==6.0.2 ; python_version >= "3.11"
sqlparse==0.5.3 ; python_version >= "3.11"
tomlkit==0.13.2 ; python_version >= "3.11"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2025.1 ; python_version >= "3.11" and sys_platform == "win32"
uritemplate==4.1.1 ; python_version >= "3.11"
